*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
#Logo,h1,h2,h3,h4,h5,h6{
    font-family: 'Lora', serif;

}
#Section1Tiger{
    width: 22rem ;
    padding: 0.5rem;
}
@media screen and (min-width: 765px) {
    body {
      #Section1Tiger{
        width: 100%;
      }
    }
  }